# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
.env
.env.*
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Logs
*.log

# Coverage
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

# Node
node_modules/
